.navContents_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    margin: 0 20px;
    cursor: pointer;
}

.navContents_container:hover{
    color: black;
}

.navContents_container > h3{
    font-size: 10px;
}

.navContents_icon{
    object-fit: contain;
    height: 25px!important;
    width: 25px;
}